<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Web Clone</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script id="user-data" type="application/json">
        {
        "nombre": "<%= misDatos.nombre %>",
        "email": "<%= misDatos.email %>"
        }
    </script>
    <script type="module" src="./js/socket.js"></script>
    <script type="module" src="./js/logout.js"></script>
    <script type="module" src="./js/buttons.js"></script>
    <script type="module" src="./js/newChat.js"></script>
    <link rel="stylesheet" href="./css/chat.css">
    <style type="text/tailwindcss">
        @theme {
            --color-whatsappDark: #121212;   /* Fondo oscuro para el modo oscuro */
            --color-whatsappLight: #25D366;  /* Verde principal */
            --color-whatsapp: #25D366;       /* Verde principal */
            --color-whatsappGray: #E5E5E5;   /* Gris claro (modo claro) */
            --color-whatsappGrayDark: #4C4C4C; /* Gris oscuro (modo claro) */
            --color-whatsappBubbleSent: #DCF8C6; /* Burbujas enviadas (modo claro) */
            --color-whatsappBubbleReceived: #E5E5E5; /* Burbujas recibidas (modo claro) */
            --color-whatsappBubbleSentDark: #075E54; /* Burbujas enviadas (modo oscuro) */
            --color-whatsappBubbleReceivedDark: #333333; /* Burbujas recibidas (modo oscuro) */
            --color-whatsappTextLight: #000000; /* Texto principal (modo claro) */
            --color-whatsappTextDark: #E1E1E1;  /* Texto principal (modo oscuro) */
        }
    </style>
</head>
<body>
    <!-- grande -->
    <div class="flex max-h-screen flex-col">
        <div class="flex bg-whatsappDark h-[5vh]">
            <span class="flex w-6 ml-3 me-3 text-whatsappLight justify-center"><%- include('./assets/whatsapp.svg')%></span>
            <!-- <img src="./assets/whatsapp.svg" class="w-6 ml-3 me-3"/> -->
            <h1 class="text-sm text-whatsappTextDark content-center">WhatsApp Web Clone</h1>
        </div>
        <div class="flex bg-whatsappDark h-[95vh]">
            <!-- primera -->
            <div class="bg-whatsappDark flex flex-col w-12 me-1 ml-1 justify-between">
                <div>
                    <%- include('./components/button', {
                        isSvg: true,
                        icon: 'menu',
                        extraClass: 'content-center p-2 flex justify-center',
                        group: false
                        
                    }) %>
                    <div role="group">
                        <%- include('./components/options', {
                            names: ['chat', 'telephone', 'status'],
                            extraClass: 'content-center p-2 flex justify-center',
                            group: true
                        }) %>
                    </div>

                </div>
                <div>
                    <div role="group">
                        <%- include('./components/options', {
                            names: ['star', 'box'],
                            extraClass: 'content-center p-2 flex justify-center',
                            group: true
                        }) %>
                    </div>
                    <%- include('./components/options', {
                        names: ['line', 'settings'],
                        extraClass: 'content-center p-2 flex justify-center',
                        group: false
                    }) %>
                    <%- include('./components/button', {
                        isSvg: false,
                        icon: false,
                        extraClass: 'content-center p-2 flex justify-center rounded-full bg-black w-[46px] h-[46px]',
                        group: false
                    }) %>
                </div> 
            </div>
            <!-- segunda -->
            <div class="flex w-full">
                <!-- peque 1 -->
                <div class="flex flex-col bg-whatsappBubbleReceivedDark w-1/4 rounded-tl-lg border border-black/20">
                    <div class="flex justify-center items-center gap-2 p-2 mt-1 mb-1 w-full">
                        <%- include('./components/newChat') %>
                    </div>
                    <div class="flex justify-center items-center gap-2">
                        <input type="text" name="buscar" id="buscar" 
                            class="focus:outline-none focus:border-transparent text-white w-5/6 rounded-md bg-whatsappGrayDark
                            border border-t-whatsappBubbleReceivedDark border-e-whatsappBubbleReceivedDark border-l-whatsappBubbleReceivedDark border-b-whatsappGray
                            focus:bg-whatsappDark focus:border-b-whatsappLight
                            p-2" 
                            placeholder="Buscar un chat o iniciar uno nuevo" 
                        />
                    </div>
                    <div id="chats">
                        <!-- aqui se crearian los div  de los chats-->
                        
                    </div>
                    <div class="mt-auto">
                        <button id="cerrarSesion" type="button" class="bg-red-500 rounded-md hover:bg-indigo-500 ">Cerrar sesión</button>
                    </div>
                </div>
                <!-- peque 2 -->
                <div class="hidden flex w-3/4 flex-col" id="divChat">
                    <div class="w-full bg-whatsappBubbleReceivedDark border-t border-b border-black/20 p-4 flex justify-between">
                        <%- include('./components/nameChat') %>
                    </div>
                    <div class="flex-1 overflow-y-auto space-y-2 flex flex-col-reverse bg-[url(/img/fondo.webp)]">
                        <div class="chat-messages flex flex-col space-y-2" id="chat-messages">
                            <!-- aqui se añaden los mensajes -->
                        </div>
                    </div>
                    <div class="w-full bg-whatsappBubbleReceivedDark">
                        <%- include('./components/teclado') %>
                    </div>
                </div>
                <div class="flex w-3/4 flex-col bg-whatsappBubbleReceivedDark items-center justify-center text-white" id="noChat">
                    <div class="text-whatsappGrayDark w-20 mb-4">
                        <%- include('./assets/whatsapp.svg')  %>
                    </div>
                    <div class="w-full text-center">
                        <h2>WhatsApp para Web</h2>
                    </div>   
                    <div class="w-full text-center text-whatsappTextDark/50">
                        <p>Envía y recibe mensajes sin mantener tu teléfono conectado.</p>
                        <p>Usa WhatsApp en hasta 4 dispositivos vinculados y 1 teléfono a la vez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>