<button type="button" id="<%= icon %>" class="btn flex items-center mb-1 mt-1 rounded-md <%= icon === 'line' ? '' : 'hover:bg-whatsappGrayDark/70' %> <%= extraClass || '' %>" 
    <% if(group === true) {%>
        <%if(pressed === true){%>
            aria-pressed="true"
        <%} else {%>
            aria-pressed="false"
        <%}%>
    <%}%>
    >
    <% if (isSvg && icon) { %>
      <svg 
        <%
          let sizeClass = icon === 'line' ? 'w-full h-[30px] text-white/40' 
          : icon === 'user' || icon === 'users' 
          ? 'bg-whatsappGrayDark rounded-full w-[40px] h-[40px] p-3 border border-white/10 me-2' 
          : 'w-[30px] h-[30px] p-[5px] text-white';
        %>
      
        class="<%= sizeClass %>"
      >
        <use href="./assets/sprite.svg#<%= icon %>" />
      </svg>
    <% } %>
    <% if(icon === 'user' || icon === 'users' || icon === 'usuario'){ %>
      <span><%= icon === 'user' ? 'Nuevo Contacto' : icon === 'usuario' ? nombre : 'Nuevo grupo' %></span>
    <% } %>
</button>
  